{{> navbar}}

{{> title}}

<h1 class="name">{{firstName}} {{lastName}}</h1>

	<table style="width:100%">
	  <tr>
	    <th>Username:</th>
	    <td>{{this.username}}</td>
	  </tr>
	  <tr>
	    <th>High Score:</th>
	    <td>{{this.highestscore}}</td>
	  </tr>
	</table>